<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My API Gestione Prodotti</title>
</head>
<body>
    <h1>Documnetazione API</h1>
    <h2>Products API</h2>
    <ul>
        <li>GET: URL/api/products/ID (Get product by ID)</li>
        <li>GET: URL/api/products (Get All products)</li>
        <li>POST: URL/api/products (Create product)</li>
        <li>PUT: URL/api/products/ID (Update product by ID)</li>
        <li>DELETE: URL/api/products/ID (Delete product by ID)</li>
    </ul>
    <h2>Users API</h2>
    <ul>
        <li>GET: URL/api/users/ID (Get user by ID)</li>
        <li>GET: URL/api/users (Get All users)</li>
        <li>POST: URL/api/users (Create user)</li>
        <li>DELETE: URL/api/users/ID (Delete user by ID)</li>
    </ul>
    <h2>Orders API</h2>
    <ul>
        <li>GET: URL/api/orders/ID (Get order by ID)</li>
        <li>GET: URL/api/orders/user/ID (Get Orders by userID)</li>
        <li>POST: URL/api/orders (Create order)</li>
        <li>PUT: URL/api/orders/ID (Cancel order by ID)</li>
    </ul>
</body>
</html>